@import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+Mono+TC&display=swap');



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* up is reset */


header {
    background-color: #c4c4c4;
    width: 100%;
    padding: 1rem;
}

header h1 {
    font-size: 2.7em;
    font-weight: bolder;
    margin-bottom: 10px;

    font-family: "LXGW WenKai Mono TC", monospace;
}

header h1 i {
    font-size: 1.2em;

}

nav {
    background-color: #312f2f;
}

nav ul {
    display: flex;
    padding-left: 1em;
    list-style-type: none;
}


nav ul li {
    padding: 0.5em .75em;
    /* font-family: "Chocolate Classical Sans", sans-serif; */
    font-family: "LXGW WenKai Mono TC", monospace;
}

@media (max-width:640px) {
    nav ul {
        flex-direction: column;
    }

    nav ul li a {
        font-size: 1rem;
    }

}

nav ul li a {
    color: #c4c4c4;
    text-decoration: none;
    font-size: 1.2em;
}

nav ul li a:hover {
    color: orange;
}

nav ul li i {
    font-size: 1.6em;
    /* 圖示排在後面文字或圖示高度的中間 */
    vertical-align: middle;
}

section.container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

h2 {
    font-size: 1.6em;
    font-weight: bolder;
}


section.agr01,
section.agr02,
section.agr03 {
    padding: 38px;
}


h3 {
    font-weight: bolder;
    padding-top: 20px;
}

section.ind01 {
    padding: 38px;
}

section.eco01 {
    padding: 38px;
}

img.eco_img {
    /* border: 1px solid red; */
    padding-top: 20px;
    width: 400px;
    height: 300px;

}

section.ind01 ul {
    list-style-type: circle;
}

.aut01, .aut02, .aut03{
    /* border: 1px solid red; */
    width: 25%;
}
section.autmain01 {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.container .autmain02 .aut04{
    /* border: 1px solid red; */
    width: 30%;
}
.container .autmain02 .aut05{
    /* border: 1px solid red; */
    width: 30%;
}

section.autmain02 {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.aut06, .aut07, .aut08, .aut09{
    /* border: 1px solid red; */
    width: 20%;
}

section.autmain03 {

    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}


section.aut01 {
    padding: 38px;
}

section.aut02 {
    padding: 38px;
}

section.aut03 {
    padding: 38px;
}


section.left {
    padding: 1rem;
    flex-grow: 4;
    flex-shrink: 1;
    flex-basis: 480px;
}

#curve_chart {
    width: 70vw;
    height: 50vh;
}

@media (max-width:500px) {
    #curve_chart {
        width: 100vw;
        height: 50vh;
    }

}

section.right {
    padding: 1rem;
    /* flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 350px; */
    /* 3行簡寫成1行 */
    flex: 1 1 350px;
}

section.right h5 {
    text-align: center;
    font-size: 1.2em;
    font-weight: bolder;
    margin-bottom: 10px;
}

section.right iframe {
    border: 3px solid lightsalmon;
    border-radius: 10px;
    margin: 20px;
    align-items: center;
}